
<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
        <h2 class="title-heading">Latest Articles</h2>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/logo.jpeg" alt="blog1">
          <h3>How to add Shopify Announcement bar (without an app)</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>The Shopify announcement bar is an excellent way to promote a special discount offer, a sale, or another type of promotion at the top of your Shopify store. And there’s no need to pay a monthly fee for this feature. Simply paste a few lines of code into your theme and you’re done..</p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/logo.jpeg" alt="blog1">
          <h3>Transpilation in Angular</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>Transpilation = translate + compilation The Angular compiler translates the html template to super optimized JavaScript code. The typescript compiler compiles typescript code into JavaScript. Also Read: Difference between JavaScript and TypeScript: JavaScript vs Typescript Transpiling..</p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div
      </div>
    </div>
  </div>
</section>
