
<div class="widget right-widget recent-post">
  <h4 class="widget-title">Featured Posts</h4>
  <a href="/article/1">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/logo.jpeg" alt="blog1">
          </div>
         
  </a>
  <a href="/article/4">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/logo.jpeg" alt="blog1">
          </div>
          
      </div>
  </a>
  <a href="/article/5">
      <div class="rb-box">
          <div class="rb-box-img">
              <img src="assets/images/logo.jpeg" alt="blog1">
          </div>
          <div class="rb-box-desc">

          </div>
      </div>
  </a>
</div>
