
<section class="blog-detail mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-left">
          <h1>How to add Shopify Announcement bar (without an app)</h1>
          <div class="posted-on">
              <p>by <span>Pradeep Maurya</span> on <span>March 10, 2019</span></p>
          </div>
          <div class="detail-img">
             <img src="assets/images/logo.jpeg" alt="blog1">
          </div>
          
          <ul>
              <li>Highlight a recently released product</li>
              <li>Share news about a recent award or certification</li>
          </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <app-featured-articles></app-featured-articles>
          <app-categories></app-categories>
      </div>
    </div>
  </div>
</section>
